

{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <div class="header">
        <div class="container">
            <div class="container_item"><b><span>Verbalisant Feedback</span></b></div>
            <div class="container_item"><b><span style="font-size: 55px;"><a href="index">BLUEPOLL</a></span></b> V2.0</div>
            {% if user.is_authenticated %}
            <div class="container_item"><b><span><a href="/members/logout_user">LOGOUT</a></span></b></div>
            {% else %}
            <div class="container_item"><b><span><a href="/members/login_user">LOGIN</span></b></div>
            {% endif %}
        </div>
    </div> 
</head>

<body>

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> -->
                <!--<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>  -->
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> 
                <input type="button" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.choice_text }}" class="poll_item">
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote">
        </form>

</body>