{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<head>
    <div class="header">
        <div class="container">
            <div class="container_item"><b><span>Verbalisant Feedback</span></b></div>
            <div class="container_item"><b><span style="font-size: 55px;"><a href="polls:index">BLUEPOLL</a></span></b> V2.0</div>
            {% if user.is_authenticated %}
            <div class="container_item"><b><span><a href="/members/logout_user">LOGOUT</a></span></b></div>
            {% else %}
            <div class="container_item"><b><span><a href="/members/login_user">LOGIN</a></span></b></div>
            {% endif %}
        </div>
    </div> 
</head>

<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
        <a class="poll_item" href="/polls/{{ question.id }}/"><span>{{ question.question_text }}</span></a>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>