@font-face {
    font-family: PolitieSans;
    src: url(fonts/politiesans-regular-v13-web.woff2);
}

html, body { 
    margin: 0; 
    padding: 0px; 
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: PolitieSans,Arial,sans-serif;
    color: white;
}

.ghost { 
    opacity: 0.0;
}

a {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;
    background: #004785;
    height: 150px;
    width: 100%;
}

.container {
    height: 100%; width:100%; font-size: 0;
}

.container_item {
    display: inline-block; 
    vertical-align: top; 
    width: 33.3%; 
    height: 100%;
    font-size: 1.5rem;
    text-align:center;
    justify-content: center;
}

.poll_item {
    display: inline-block;
    color: white;
    background-color: #004785;
    border-radius: 25px;
    height: 187px;
    width : 500px;
    margin: 50px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    cursor: auto;
    font-size: 1.5rem;
}

.center {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 60%; display: flex;
}

body {
    /*background: white url("images/background.png") no-repeat;*/
    background-color: #121212;
}

 /* The alert message box */
 .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  } 