@font-face {
    font-family: PolitieSans;
    src: url(fonts/politiesans-regular-v13-web.woff2);
}

html, body { 
    margin: 0; 
    padding: 0px; 
    border: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: PolitieSans,Arial,sans-serif;
}

.header {
    text-align: center;
    background: #004785;
    height: 150px;
    width: 100%;
}

.container {
    height: 100%; width:100%; font-size: 0;
}

.container_item {
    display: inline-block; 
    vertical-align: top; 
    width: 33.3%; 
    height: 100%;
    /*padding-top: 10%;padding-bottom: 10%;*/
    font-size: 1.5rem; 
    color: white;
    /*background-color: red;*/
    text-align:center;
    justify-content: center;
}

.poll_item {
    display: inline-block;
    background-color: #004785;
    color: white;
    border-radius: 25px;
    height: 187px;
    width : 500px;
    margin: 50px;
    text-align: center;
    vertical-align: center;
    /*justify-content:center;*/
    text-decoration: none;
    cursor: auto;
    font-size: 27;
}

span {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.logo {
    width: 60%; display: flex;
}

body {
    /*background: white url("images/background.png") no-repeat;*/
    background-color: #121212;
}